/* Scss Document */

//This deals with elements in the HTML

html, body {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  height:auto!important;
}

nav {
	background-color: black;
  opacity: 0.9;

}

.brand-logo > img {
  width: 400px;
  margin: 20px 0 0 7%;
     }

.imgFill {
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0;
  visibility: hidden;

}

// .section {
//
//     &.turqBgrd {
//       background-color: $turq;
//     }
//     &.purpleBgrd {
//       background-color: $purple;
//     }
//     &.smaltBlueBgrd {
//       background-color: $smaltBlue;
//     }


section {

    &.turqBgrd {
      padding: 20px 0;
      background-color: $turq;
    }
    &.purpleBgrd {
      padding: 20px 0;
      background-color: $purple;
    }
    &.smaltBlueBgrd {
      padding: 20px 0;
      background-color: $smaltBlue;
    }
}

// Parallax windows and sections

.parallaxWrapper {
      min-height: 70vh;
      border: 1px solid black;
}

.banner {
      position: absolute;
      top: 20%;
      width: 100%;
      border: 0px solid green;
      background-color: $copyBlack70;
      padding: 20px 0 20px 7%;
}
.shortWidth{
      margin-right: 66%;
}


main {
	// display: flex;
}

// .content {
// 	flex: 1 0 auto; // sets a child of the body element to expand to fill the v-height (main)
// 	align-items: center;



footer {
	// flex-shrink: 0;  //no flex-shrink here. Nav also has no flex-shrink

}

.footerURL {
	margin-left: 7%;
}

// .flexColCenter { //centre child objects in a row
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// }
