/* Scss Document */

html {height: 100%}

body{
	margin: 0;
	padding: 0;
	widows: inherit;/*kern and ligature set*/
	//hanging-punctuation: none || [ first || [ force-end | allow-end ] || last ];
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: common-ligatures; //DO NOT RUN with Materialise icon font
}


li, ul {
	font-size: 1rem;
	margin: 0.3rem 0;
	text-decoration: none;
}

label {
	font-size: 1rem;
	margin: 0.3rem 0 0.3rem 10px; //10px left indent for labels
}


//this sets the default lineheight at 1.8. Enter an optional 5th value if it needs changed
@mixin p($m-top, $m-right, $m-bottom, $m-left, $lineHeight: 1.55) {
	font-family: $secondaryFont; //Barlow semi-condensed 400 regular, 400i reg italic 600 semi-bold
	font-size: 1.3rem;
	font-weight: 300;
	font-stretch: normal;
	//font-variant: common-ligatures tabular-nums||proportional-nums;
	//text-transform: initial;
	//letter-spacing: 0.08px;
	//word-spacing: 0.02em;
	line-height: $lineHeight;
	color: white;
	text-align: left;
	margin-top: $m-top;
	margin-right: $m-right;
	margin-bottom: $m-bottom;
	margin-left: $m-left;
}

p { @include p(0, 0, 1rem, 0)
		}

p.meetArtist2 { @include p(16rem, 0, 0.75rem, 0)
		}

ul, ol, li { @include p(0, 0, 0.75rem, 0)
		text-decoration: none;
		}

a { @include p(0, 0, 0.75rem, 0)
		text-decoration: none;
				&:hover{
				text-decoration: underline !important;
				}
	}

a.btn-large { @include p(5px, 0, 0, 0)
		text-decoration: none;
		color: $copyBlack;
		font-weight: 400;
		letter-spacing: 0.9px;
		padding: 8px 20px 0px 20px;
				&:hover{
				text-decoration: none !important;
				}
	}


//this sets the default lineheight at 1.8. Enter an optional 5th value if it needs changed
@mixin h1($m-top, $m-right, $m-bottom, $m-left, $lineHeight: 1.35) {
	font-family: $primaryFont;
	font-size: 2rem;
	font-weight: 300;
	//font-stretch: normal;
	//font-variant: normal;
	//letter-spacing: -0.1px;
	word-spacing: 0.02em;
	line-height: $lineHeight; //set 1.8
	color: white;
	text-align: left;
	margin-top: $m-top;
	margin-right: $m-right;
	margin-bottom: $m-bottom;
	margin-left: $m-left;
}

h1 {
	@include h1(1.5rem, 0, 0.2rem, 0)
}

// h1.gallery {
// 	@include h1(4rem, 0, 1.3rem, 0)
// }

h1.meetArtisth1 {
	@include h1(2rem, 0, 0, 0)
	margin-left: 8%;

}

h1.friends {
	@include h1(0, 0, 0, 0, 1.8)
	text-align: left;
	color: $orange;
}






@mixin h2($m-top, $m-right, $m-bottom, $m-left, $lineHeight: 1.45) {
	font-family: $primaryFont; //Barlow Condensed
	font-size: 1.85rem;
	font-weight: 300; //light
	//font-stretch: normal;
	//font-variant: normal;
	//letter-spacing: -0.1rem;
	//word-spacing: 0.02rem;
	line-height: $lineHeight; //set 1.5
	color: white;
	text-align: left;
	margin-top: $m-top;
	margin-right: $m-right;
	margin-bottom: $m-bottom;
	margin-left: $m-left;
}

h2 {
	@include h2(2rem, 0, 1.2rem, 0)
}

h2.gallery {
	@include h2(3rem, 0, 1.3rem, 0)
}

h2.form {
	@include h2(1rem, 0, 1.3rem, 0)
	text-align: center;
}

h2.meetArtisth2 {
	@include h2(0.3rem, 0, 1.2rem, 0)
	font-weight: 300;
	margin-left: 8%;
}




@mixin h3($m-top, $m-right, $m-bottom, $m-left, $lineHeight: 1.7) {
	font-family: $primaryFont;
	font-size: 1.4rem;
	font-weight: 400;
	//font-stretch: normal;
	//font-variant: normal;
	//letter-spacing: -0.1px;
	//word-spacing: 0.02em;
	line-height: $lineHeight; //set 2
	color: white;
	text-align: left;
	margin-top: $m-top;
	margin-right: $m-right;
	margin-bottom: $m-bottom;
	margin-left: $m-left;
}

h3 {
	@include h3(2rem, 0, 0.7rem, 0)
}


h3.footer {
	@include h3(20px, 0, 0.5rem, 0);
	color: white;
}




h4 {
	font: 700 1.2rem/1.6rem $primaryFont;
	color: $copyBlack;
}


/*=======================*/
/*Links here*/
/*=======================*/

a.blueLink { color: $blue !important;

		&:hover{
		text-decoration: underline !important;
		}
}

a.copyBlackLink { color: $copyBlack !important;
				  font-family: $secondaryFont;

		&:hover{
		text-decoration: underline !important;
		}
}


strong {font-weight: 700}
.medium {font-weight: 700 !important}
.orangeCopy{color: $orange}
.copyBlack{color: $copyBlack}
//.white {color: $white !important;} // don't use this with Materialise lib - set hard into css
.shadow {text-shadow: 3px 3px 6px $copyBlack50}
